@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.demoForm-my{
  width: 500px;
}
textarea{
  resize: none;

}
.filter-container-form{
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
  background-color: #ebeee8;
  border-radius: 6px;
}
.container2 {
    padding-top: 5rem;
    width: 700px;
    margin: 0 auto;
}

.card {
  margin-top: 4%;
    border-radius: 6px;
    background: #EAE2B6;
    border: 1px solid #A3A847;
    padding: 1rem;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
}

.btn-cont {
    color: #7F8B52;
    position: relative;
    border-radius: 99px;
    border: 1px solid #A3A847;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
    cursor: pointer;
    margin-right: 1rem;
}

.btn.primary {
    background: #42b983;
    color: #fff;
}

.btn:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

input[type=file] {
    display: none;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
}

.preview-image {
    position: relative;
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: hidden;
}

.preview-image.removing {
    transform: scale(0);
    transition: transform .3s;
}

.preview-image img {
    width: 180px;
    height: auto;
}

.preview-image:hover .preview-remove {
    opacity: 1;
}

.preview-image:hover .preview-info {
    bottom: 4px;
}

.preview-remove {
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    background: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity .22s;
}

.preview-info {
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;
    height: 24px;
    font-size: .8rem;
    background: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    transition: bottom .22s;
}

.preview-info-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #42b983;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width .22s;
}
.margin-box2 {
  width: 170px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.margin-box2 {
  border: 2px solid #f1dcb9 !important;
  border-radius: 10px !important;
  height: 38px !important;
  padding: 5px 50px 5px 10px !important;
  font-family: "ArTarumianKamar-Regular", sans-serif !important;
  font-size: 17px !important;
  font-style: italic !important;
}
.button8{
  border-radius: 20px;
  cursor: pointer;
}
/* .myButton-form-newdata{
  justify-content: flex-start;
} */
