.variousamechanics {
  position: absolute;
  top: 800px;
  left: 6%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border: 0;
  background: transparent;
  outline: 0;
  overflow: hidden;
}
button .cleverlypaired {
  position: relative;
  background: #1e272f;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #f8f9f8;
  font-size: 18px;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
  border-radius: 2px;
}
button .cleverlypaired .fa {
  width: 30px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
button .cleverlypaired .fa-check {
  color: #2ca06a;
}
button .cleverlypaired .fa-question {
  color: #2085e8;
}
button .cleverlypaired:after {
  content: " ";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #2c343c;
  top: 12.5px;
  right: 1px;
  -webkit-transition: 0.2s right;
  transition: 0.2s right;
  z-index: 1;
}

button .kedeverything {
  position: relative;
  width: 0;
  height: 29.8px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: #da2d29;
  text-align: center;
  line-height: 29.9px;
  color: #f5f3f3;
  font-weight: 300;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

button .kedeverything span {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
button:hover .cleverlypaired {
  color: #f34541;
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
button:hover .cleverlypaired:after {
  right: -2px;
}
button:hover .kedeverything {
  width: 119px;
}
button:hover .kedeverything span {
  opacity: 1;
  top: 0;
}
button.samilpaken .cleverlypaired {
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
button.samilpaken .cleverlypaired .fa {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}
button.samilpaken .cleverlypaired:after {
  right: -2px;
}
button.samilpaken .kedeverything {
  background: #2492ff;
  width: 119px;
}
button.samilpaken .kedeverything span {
  opacity: 1;
  top: 0;
}
button.done .cleverlypaired {
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
button.done .cleverlypaired .fa {
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
}
button.done .cleverlypaired:after {
  right: -2px;
}
button.done .kedeverything {
  background: #38b87c;
  width: 119px;
}
button.done .kedeverything span {
  opacity: 1;
  top: 0;
}

@-webkit-keyframes fadeInZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
