.box-phone {
  width: 400px;

  background: #7F8B52;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  position: absolute;
  top: -50px;
  right: -460px;
  transition: opacity 500ms;
  -webkit-transition: opacity 500ms; /* Safari */
  opacity: 0;
  z-index: 12;
}
.phone {
  background: #66DE93;
  border-radius: 10px;
  font-size: 30px;
  font-family: Verdana;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  margin-top: 18px;
}
.bt-phone {
  background: #D83A56;
  font-family: Verdana;
  cursor: pointer;
  position: absolute;
  display: none;
}
button:focus ~ .box-phone {
  opacity: 1;
}
button:focus ~ .bt-phone {
  display: block;
}
.call-button{
  position: absolute;
  top: 700px;
  margin-bottom: 36px;
  left: 1%;
}
