.home {
  text-align: center;
  
}
.home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.home-title {
  font-size: 1.5em;
}
.type {
  display: flex;
}
.hr-theme-slash-4 {
  display: flex;
  align-items: center;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.hr-line-4 {
  width: 40%;
  position: relative;
  border-bottom: 2px solid #3a5586;
}
.hr-icon-4 {
  position: relative;
}
.home__title {
  font-size: 28px;
}
