.home-header {
  background-color: #222222;
  height: auto;
  padding: 20px;
  color: white;
}
.searchBlok {

  background-color: #558776;
  border-radius: 10px;
  width: 66%;
  margin-left: 17%;
  padding-bottom: 2%;
}
.homelog {
  width: 60px;
  height: auto;
}
.homelog-blok {
  margin-top: 1%;
  margin-bottom: 1%;
}
.log-blok {
  border-radius: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #EAE2B6;
  -webkit-transition: 0.55s all ease;
}

.flex-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  align-content: space-between;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}
.flex-container3 {
  display: flex;
  flex-wrap: wrap;
  height: 75%;
  width: 100%;
  align-content: space-between;
  justify-content: space-around;
  padding: 10px;
  padding-right: 20px;
  list-style: none;
}
.flex-container2 {
  padding-top: 20px;
}
.nameRadio-buttom {
  margin-left: 10px;

  color: black;
}

.filter-container {
  border-radius: 8px;
  height: auto;
  width: 96%;
  margin-left: 2%;
  margin-bottom: 1px;
  background-color: #f8f8f8;
}
.margin-box {
  width: 150px;
  margin-top: 20px;
  margin-right: 20px;
}
.margin-box-select {
  width: 150px;
  margin-top: 20px;
  margin-right: 20px;
}
.margin-box {
  border: 2px solid #f1dcb9 !important;
  border-radius: 10px !important;
  height: 22px !important;
  padding: 5px 50px 5px 10px !important;
  font-family: "ArTarumianKamar-Regular", sans-serif !important;
  font-size: 17px !important;
  font-style: italic !important;
}
.margin-boxselekt {
  border-radius: 10px;

  border: 2px solid #f1dcb9;
  height: 40px;
  width: 200px;
  margin-top: 20px;
  margin-right: 20px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.formchak {
  margin-top: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.home-header3 {

  margin-top: 50px;
}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;

  border-radius: 10px;
  border: 2px solid #f1dcb9;
  height: 40px;
  width: 200px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.three {
  position: relative;
}

#checkboxes {
  display: none;
  border: 2px #dadada solid;
  position: absolute;
  background-color: white;
  width: 190px;
  padding-left: 0px;
  z-index: 10;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
#checkboxes2 {
  z-index: 9;
  display: none;
  border: 2px #dadada solid;
  position: absolute;
  background-color: white;
  width: 190px;
  padding-left: 0px;
}

#checkboxes2 label {
  display: block;
}

#checkboxes2 label:hover {
  background-color: #1e90ff;
}
.price {
  width: 70px;
  margin-left: -10px;
}

.myButton {
  height: 20px;
  margin-top: 19px;
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e4685d;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.myButton:hover {
  background-color: #eb675e;
}
.myButton:active {
  position: relative;
  top: 1px;
}
