.footer-home {
  margin-top: 60px;
  padding-top: 20px;
  height: 100px;
  width: 100%;
  background-color: #558776;
  display: flex;
  flex-direction: column;
}
.numbers-mob-1 {
  margin-top: 16px;
  color: #e6f3e2;
  left: 20px;
}
